.header {
    background: linear-gradient(135deg, #007bff, #ffcc00); /* Dégradé bleu à jaune */
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  